/* About Me Style */
h2 { color: #20284b;
    }
    p{ color: #20284B;
    background-color: #DED9F6;
    }
     body {
      font-family: 'Sora', serif;
      background: #8F73F2;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin-top: 100px;
      margin-bottom: 100px;
    }
    nav{ text-align: start;
    color:  #20284B;
    background-color:  #;}
 h2 { color: #20284b;
    }
    p{ color: #20284B;
    background-color: #DED9F6;
    }

.card-body { background-color: #DED9F6; 
            padding: 30px; 
            border-radius: 12px 12px 0px 0px; 
            width: 750px; 
            box-shadow: 0 8px 25px rgba(0, 0, 0, 0.08); 
            border: 1px solid #20284B; /* Subtle border for definition */
            text-align: center; /* Center content like image/name */
}
